@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./button.styles.scss", "./titles.styles.scss";

* {
  @apply font-space;
  color: white;
}

body {
  background-color: #070f1c;
}

.random-col {
  color: #0c0b08;
  color: #070f1c;
  color: #6d200f;
}
